@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazir', sans-serif;
  direction: rtl;
  text-align: right;
}

* {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
